* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

button {
    background-color: inherit;
}

@font-face {
    font-family: Inika;
    src: url(fonts/Inika-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter-Bold;
    src: url(fonts/Inter-Bold.ttf);
}

a {
    text-decoration: none;
    color: inherit;
}

/* li{
    list-style: none;
} */

body {
    margin: 0;
    padding: 0;
}

header {
    /* margin-top: 0; */
    background-color: #EDF2EC;
    padding: 2.5rem 0 6rem 0;
}

nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

nav .logo {
    flex-grow: 1.8;
}

nav .logo__content {
    padding-left: 7rem;
}

nav .logo__content__title {
    font-family: Inika;
    font-weight: 600;
    color: #000;
}

nav .navigation {
    flex-grow: 1;
}

nav .navigation ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 4rem 0 9rem;
}


nav .navigation ul li {
    list-style: none;
    font-family: Inika;
}

nav .navigation ul li a:hover {
    color: #E06733;
}

.burger {
    margin-top: -4px;
    border: none;
    display: none;
    width: 40px;
    height: 24px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.burger__line {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #717171;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.burger span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

.burger.burger--active span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.burger.burger--active span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.burger.burger--active span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.burger.burger--active span:nth-child(3) {
    width: 0%;
    opacity: 0;
}

.burger.burger--active span:nth-child(4) {
    transform: rotate(-45deg);
    top: 25px;
    left: 8px;
}

.burger span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-child(2) {
    top: 8px;
    transform-origin: left center;
}

.burger span:nth-child(3) {
    top: 16px;
    transform-origin: left center;
}

.burger span:nth-child(4) {
    top: 24px;
    transform-origin: left center;
}

main {
    width: 100%;
    margin: 0 auto;
}

.welcome {
    /* width: 100%; */
    display: flex;
    background-color: #EDF2EC;
    padding-bottom: 4rem;
}

.welcome__image {
    width: 50%;
    display: flex;
    justify-content: center;
}

/* .welcome__image img{
    width: 100%;
    height: 100%;
} */

.welcome__text {
    width: 50%;
    padding: 0 4rem;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.welcome__text__header {
    font-size: 45px;
    color: #717171;
    font-family: Inter-Bold;
    font-weight: bold;
    margin-bottom: 42px;
}

.welcome__text__header span {
    color: #499A18;
}

.welcome__text__par {
    color: #636060;
    line-height: 35px;
    padding-right: 8rem;
    font-size: 20px;
    margin-bottom: 48px;
}

.welcome__text__learnmorebtn {
    font-size: 16px;
    font-family: Inter;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 25px;
    border-radius: 12px;
    border: 2px solid #E06733;
    background: inherit;
}

.welcome__text__learnmorebtn:hover {
    color: white;
    background-color: #E06733;
    transition: 1s;
    cursor: pointer;
}

.about {
    display: flex;
    justify-content: center;
    padding: 7rem 0 4rem 0;
    margin-bottom: 1.7rem;
}

.about__text {
    width: 50%;
    padding: 0 1rem 0 7rem;
}

.about__text__header {
    color: #499A18;
    font-size: 40px;
    font-family: Inika;
}

.about__text__header span {
    color: #E06733;
}

.about__text__par {
    padding-top: 0.6rem;
    font-size: 20px;
    font-family: Inter;
    line-height: 30px;
}

.about__image {
    width: 50%;
    margin-top: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
}

.service {
    background-color: #EDF2EC;
    padding: 3rem 0;
}

.service__header {
    padding: 0 6.8rem;
    display: flex;
    margin-bottom: 2rem;
}

.service__header__title {
    width: 36%;
    margin-right: 0.4rem;
    color: #499A18;
    font-size: 40px;
    font-family: Inika;
    line-height: 52px;
}

.service__header__buttons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service__header__buttons button {
    color: #E06733;
    border: 1px solid #E06733;
    width: 161px;
    border-radius: 5px;
    padding: 12px 40px;
    margin-right: 2.4rem;
    font-family: Inika;
    font-size: 20px;
}

.service__header__buttons button:hover {
    color: white;
    background-color: #E06733;
    transition: 1s;
    cursor: pointer;
}

.service__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem 2.5rem;
}

.service__projects__proj {
    text-align: center;
    border: 1px solid #E3E1D5;
    margin: 2rem 3rem 1rem;
    padding-bottom: 1.5rem;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.service__projects__proj h4 {
    font-family: Inter-Bold;
    color: #E06733;
    font-size: 20px;
    margin: 0;
    margin-top: 0.2rem;
}

.service__projects__proj p {
    color: #717171;
    font-family: Inter;
}

.prices {
    display: flex;
    padding: 2.7rem 7rem 1rem;
    margin-bottom: 5rem;
}

.prices__options {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.prices__options h2 {
    font-size: 40px;
    font-family: Inter-Bold;
}

.prices__options__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E3E1D5;
    margin-top: 1.4rem;
    padding: 34px 41px 2px 41px;
    border-radius: 20px;
}

.prices__options__list div {
    margin-bottom: 2rem;
    width: 250px;
    display: flex;
    justify-content: space-between;
    padding: 14px 40px;
    background-color: #EDF2EC;
    border-radius: 20px;
}

.prices__options__list div span {
    font-size: 20px;
    font-family: Inter-Bold;
    color: black;
}

.prices__contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* padding-left: 3rem; */
}

.prices__contact h2 {
    font-size: 40px;
    font-family: Inter-Bold;
    text-align: right;
    padding-left: 5rem;
    margin-bottom: 2.6rem;
}

.prices__contact h2 span {
    color: #499A18;
}

.prices__contact button {
    font-size: 20px;
    color: #E06733;
    padding: 12px 32px;
    font-family: Inika;
    font-weight: bold;
    border: 1px solid #E06733;
    border-radius: 5px;
    margin-bottom: 2.5rem;
}

.prices__contact button:hover {
    color: white;
    background-color: #E06733;
    transition: 1s;
    cursor: pointer;
}

.contacts {
    background-color: #EDF2EC;
    padding: 2rem 7rem 0 7rem;
}

.contacts__container {
    display: flex;

}

.contacts h2 {
    text-align: center;
    color: #499A18;
    font-size: 40px;
    font-family: Inika;
    font-weight: bold;
}

.contacts__image {
    width: 50%;
    margin-top: -6rem;
}

.contacts__city {
    width: 50%;
    padding-left: 13%;
}

.contacts__city__select {
    margin: 0 auto;
    width: 450px;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts__city__select span {
    font-size: 20px;
    font-family: Inter;
    color: #717171;
}

footer {
    width: 100%;
    margin: 0 auto;
    padding: 35px 113px;
    display: flex;
    align-items: center;
}

.footer__copyright-github {
    width: 33%;
    font-size: 20px;
    font-family: Inter;
}

.footer__title {
    width: 33%;
    font-size: 20px;
    font-family: Inter;
    text-align: center;
}

.footer__links {
    width: 33%;
}

.footer__links ul {
    display: flex;
    margin-right: -1.4rem;
    justify-content: flex-end;
    align-items: center;
}

.footer__links ul li {
    list-style: none;
    margin-left: 2rem;
}


@media screen and (min-width: 380px) and (max-width: 1200px) {
    header {
        padding: 2rem 0 0 0;
    }

    nav .logo {
        flex-grow: 1;
    }

    nav .navigation {
        flex-grow: 3;
    }

    nav .navigation ul {
        padding: 0 4rem 0 5.6rem;
        justify-content: space-between;
    }

    nav .logo__content {
        padding-left: 3rem;
    }

    .welcome {
        flex-direction: row-reverse;
        padding: 3rem 3rem 4.5rem;
    }

    .welcome__text {
        flex-grow: 4;
        padding: 0;
    }

    .welcome__image {
        flex-grow: 2;
        width: auto;
    }

    .welcome__image img {
        height: 254px;
        margin-top: 2rem;
    }

    .welcome__text__header {
        font-size: 35px;
        line-height: 50px;
        margin-bottom: 1.6rem;
    }

    /* .welcome__image */

    .welcome__text__par {
        font-size: 16px;
        line-height: 25px;
        padding-right: 6rem;
        margin-bottom: 2rem;
    }

    .welcome__text__learnmorebtn {
        margin-left: 0.2rem;
        margin-top: 0.3rem;
    }

    .about {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0.5rem 0 0.9rem 0;
    }

    .about__text {
        padding: 0;
        width: 87%;
    }

    .about__text__header {
        font-size: 35px;
        line-height: 46px;
        text-align: center;
        font-weight: 400;
        padding: 0 7rem;
    }

    .about__text__par {
        padding-top: 1.4rem;
    }

    .about__image {
        padding: 3rem 0;
    }

    .about__image img {
        width: 70%;
        margin-top: 1rem;
    }

    .service__header {
        flex-direction: column;
        padding: 0 3rem;
        margin-bottom: 0rem;
    }

    .service__header__title {
        width: 40%;
        font-size: 35px;
        margin-bottom: 2.1rem;
        padding-top: 0.6rem;
    }

    .service__header__buttons {
        justify-content: flex-start;
        width: 90%;
    }

    .service__header__buttons * {
        margin-right: 2rem;
    }

    .service__projects {
        justify-content: space-between;
    }

    .service__projects__proj {
        margin: 1.5rem 0.6rem -10px;
        width: 280px;
    }

    .service__projects__proj img {
        height: 350px;
    }

    .service__projects__proj p {
        padding: 0 1rem;
    }

    .prices {
        padding: 0.4rem 3.1rem;
        margin-bottom: 4.4rem;
    }

    .prices__options h2 {
        margin-bottom: 4rem;
        margin-left: 1rem;
        font-size: 35px;
    }

    .prices__options__list {
        margin-top: 0;
        padding: 24px 41px 2px 41px;
    }

    .prices__contact {
        margin-top: 6.7rem;
    }

    .prices__contact h2 {
        font-size: 25px;
        padding-left: 2rem;
        line-height: 35px;
        margin-bottom: 1.7rem;
    }

    .prices__contact button {
        margin-bottom: 2rem;
    }

    .prices__contact img {
        margin-right: -1rem;
    }

    .contacts {
        padding: 0.4rem 7rem 0 7rem;
    }

    .contacts h2 {
        margin-bottom: 6.3rem;
    }

    .contacts__city__select img {
        margin-right: 1rem;
    }

    .contacts__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .contacts__image {
        width: auto;
        margin-top: 15rem;
        display: flex;
        justify-content: center;
    }

    .contacts__image img {
        width: 50%;
        margin-left: 0.9rem;
        /* margin: 0 auto; */
    }

    .contacts__city {
        padding-left: 0;
        width: auto;
    }

    footer {
        flex-direction: column;
        padding: 13px 110px;
    }

    .footer__title {
        width: auto;
        margin-bottom: 0.5rem;
    }

    .footer__copyright-github pre {
        font-size: 20px;
    }

    .footer__links ul {
        margin-right: -0.9rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
    .welcome__image img {
        display: none;
    }

    .welcome__text {
        width: 100%;
    }

    nav .navigation ul {
        padding: 0;
    }

    .service__header__buttons {
        flex-wrap: wrap;
    }

    /* BURGER_START */
    header {
        height: 96px;
    }

    .nav--visible {
        transform: none;
        transition: transform 0.3s ease-in-out;
    }

    .navigation {
        height: calc(100vh - 96px);
        width: 60%;
        min-width: 320px;
        padding: 10px 30px;
        position: fixed;
        top: 96px;
        right: 0;
        z-index: 1000;
        overflow-y: auto;
        background-color: white;
        box-shadow: -5px 12px 10px rgb(0 0 0 / 20%);
        transform: translateX(108%);
    }

    .burger {
        display: block;
        margin-right: 1.6rem;
    }

    nav .navigation ul {
        display: flex;
        flex-direction: column;
    }

    nav .navigation ul li {
        text-align: center;
        border-bottom: 1px solid black;
    }

    nav .navigation ul li a {
        width: 100%;
        display: inline-block;
    }

    /* BURGER_END */
    header {
        height: 64px;
    }

    nav .logo__content {
        padding-left: 1.3rem;
    }

    .welcome {
        padding: 3rem 1.5rem 1.5rem;
    }

    .welcome__text__header {
        font-size: 25px;
        line-height: 35px;
        margin-top: 0.7rem;
        margin-bottom: 1.1rem;
    }

    .welcome__text__par {
        padding-right: 2rem;
        margin-bottom: 1.4rem;
    }

    .welcome__text__learnmorebtn {
        font-size: 10px;
        width: 100px;
        padding: 10px 15px;
        margin-left: 0;
    }

    .about {
        margin-bottom: 0;
        padding: 0.5rem 0 0.5rem 0;
    }

    .about__text__header {
        font-size: 25px;
        line-height: 32.57px;
        padding: 0 2rem;
        margin-bottom: 0;
    }

    .about__text__par {
        font-size: 15px;
        line-height: 25px;
        padding-top: 0;
    }

    .about__image {
        padding: 1.3rem 0;
    }

    .about__image img {
        margin-top: 0.7rem;
    }

    .service {
        padding: 1.2rem 0;
    }

    .service__header {
        padding: 0 1.5rem;
    }

    .service__header__title {
        font-size: 25px;
        line-height: 32.57px;
        width: 64%;
    }

    .service__header__buttons {
        width: 100%;
    }

    .service__header__buttons button {
        margin-right: 0.7rem;
        margin-bottom: 9px;
        width: 121px;
        padding: 8px 28px;
        font-size: 15px;
        line-height: 19.54px;
    }

    .service__projects {
        flex-direction: column;
        align-items: center;
        padding: 0.6rem 2.5rem 0rem;
    }

    .service__projects__proj {
        margin: 1.5rem 0.6rem 11px;
        padding-bottom: 0;
    }

    .prices {
        flex-direction: column;
        margin-bottom: 0;
    }

    .prices__options {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .prices__options h2 {
        margin-left: 0.1rem;
        margin-top: 1rem;
        margin-bottom: 2.2rem;
        font-size: 25px;
        line-height: 30.26px;
    }

    .prices__options__list {
        width: 224px;
    }

    .prices__options__list div {
        width: 180px;
        margin-bottom: 1.3rem;
        padding: 14px 40px 14px 31px;
    }

    .prices__options__list div span {
        font-size: 15px;
        line-height: 20px;
    }

    .prices__contact{
        width: 100%;
        margin-top: 0.3rem;
        align-items: center;
    }

    .prices__contact h2{
        font-size: 20px;
        line-height: 35px;
        text-align: center;
        padding-left: 0;
        margin-bottom: 1.2rem;
    }

    .prices__contact button{
        font-size: 15px;
        line-height: 19.54px;
        width: 121px;
        padding: 8px 22px;
        font-size: 15px;
        line-height: 19.54px;
    }

    .prices__contact img{
        display: none;
    }

    .contacts h2{
        font-size: 25px;
        line-height: 32.57px;
        margin-bottom: 5rem;
    }

    .contacts__city__select img{
        margin-right: 0;
    }

    .contacts__city__select {
        width: 300px;
    }

    .contacts__image{
        margin-top: 8.1rem;
    }

    .contacts__image img{
        width: 66%;
        margin-left: 0;
    }

    footer{
        padding: 22px 0;
    }

    footer .footer__copyright-github, footer .footer__links, footer .footer__title{
        width: 100%;
        text-align: center;
    }

    .footer__copyright-github pre{
        margin: 0;
    }
    
    .footer__copyright-github{
        margin-bottom: 1.1rem
    }

    .footer__title{
        margin-bottom: 0;
    }

    .footer__links ul{
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-right: 1.1rem;
    }
}